<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">

        <activity android:name=".Portada" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Menu" android:exported="true"/>
        <activity android:name=".SubMenu" android:exported="true"/>
        <activity android:name=".SubMenuDs" android:exported="true"/>
        <activity android:name=".SubMenuIC" android:exported="true"/>
        <activity android:name=".SubMenuA" android:exported="true"/>
        <activity android:name=".Monto" android:exported="true"/>
        <activity android:name=".Capital" android:exported="true"/>
        <activity android:name=".TasaInteres" android:exported="true"/>
        <activity android:name=".Plazos" android:exported="true"/>
        <activity android:name=".MontoDS" android:exported="true"/>
        <activity android:name=".PlazoAnticipado" android:exported="true"/>
        <activity android:name=".TasaDeDescuento" android:exported="true"/>
        <activity android:name=".MontoIC" android:exported="true"/>
        <activity android:name=".CapitalIC" android:exported="true"/>
        <activity android:name=".PeriodosDeCapitalizacion" android:exported="true"/>
        <activity android:name=".TasaDeInteresCapitalizable" android:exported="true"/>
        <activity android:name=".MontoA" android:exported="true"/>
        <activity android:name=".Renta" android:exported="true"/>
        <activity android:name=".NumRentas" android:exported="true"/>
    </application>
</manifest>
